
# copy this file and change name to .env and fill the variable
# to be used by docker compose

# app env
ENV=

# db env
DB_USER=
DB_PASSWORD=
DB_NAME=

# nats env
MQ_USER=
MQ_PASSWORD=

# cache env
CACHE_PASSWORD=

# minio env
OS_ROOT_USER=
OS_ROOT_PASSWORD=
