# copy this file and change name to .env and fill the variable
# to be used by docker compose

# app env
ENV=production

DB_USER=
DB_PASSWORD=
DB_NAME=

# redis env
CACHE_PASSWORD=

# minio env
OS_ROOT_USER=
OS_ROOT_PASSWORD=

# auth env
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
# GITHUB_AUTH_REDIRECT_URI=

# github_app env
AUTH_GITHUB_APP_ID=
AUTH_GITHUB_APP_SLUG=
AUTH_GITHUB_PRIVATE_KEY_PATH=

# jwt env
AUTH_JWT_SECRET=

# cors server env
SERVER_CORS_ALLOW_ORIGINS=https://localhost
