# Build stage
FROM {{.DockerBaseImage}} AS builder

WORKDIR /app

COPY go.mod go.sum ./
RUN go mod download

COPY . .

RUN {{.BuildCommand}}

FROM {{.DockerRuntimeImage}}

WORKDIR /app

COPY --from=builder /app/{{.BuildFolder}}/{{.MainFileName}} ./{{.BuildFolder}}/{{.MainFileName}}

CMD {{.RunCommand}}
